h1{
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

}

@media(max-width: 576px) { 
	h1{
		font-size: 7vw;
	}

	.btn-col{
		padding: 0 1px;
	}
}

ng-select{
	margin-top:10px;

}

.seismograph{
	max-width: 650px;
	margin-top: 40px;
}

.btn{
	border: 0;
	width: 100%;
	background-color: #b1b1b1 ;
	border-radius: 2rem;
	padding: 1px;
}



.btn-primary.active{
	color:white !important;
	background-color: #0a549d !important;
   border-color:black  !important;;
}

.disclaimer{
	font-size: 10px;
	margin: 0 20px;
}


.source-select{
	font-family: 'Montserrat', serif;
}

.source-select-title{
	margin: auto;
	padding: 0 5px;
}


.source-select-title h6{
	font-weight: 700;
}

.last-updated{
	text-align: center;
}